<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title> scanning | ideasynth </title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/screen.css" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/pygments.css" />

    <script src="/js/google_analytics.js"></script>
    <script src="http://code.jquery.com/jquery-1.5.min.js"></script>
    <script src="http://gmap.nurtext.de/js/jquery.gmap-1.1.0-min.js"></script>
    <!--<script src="/js/geolocation.js"></script>-->
  </head>

  <body class=container_12>
    <header>
      <h1>Thanks for scanning...feel free to add a comment to your location</h1>
    </header>
    <section>
      <!-- form goes here -->
    </section>
    <footer>
      <div class="grid_8 alpha">
        <a href="http://twitter.com/jedahan">@jedahan</a>
      </div>
      <div class="grid_4 omega">
        {{site.email}}
      </div>
    </footer>
  </body>

</html>
